<html>
  <head>
    <link rel="stylesheet"type="text/css"href="/style.css"/>
  </head>
  <body>
  <div align=center>
    <form action="/name" method="post">
      Player 1 :<br>
      <input type="text" name="player1"><br>
      <!-- <form action="/vs-ai" method="post">
        <input type="submit" value="Play vs AI"><br>
      </form> -->
      Player 2 :<br>
      <input type="text" name="player2"><br>
      <input type="submit" value="Submit!">
    </form>
  </div>
  </body>
</html>
