<form action="/fight" method="post">
  Player 1 :<br>
  <input type="text" player1="player1"><br>
  Player 2 :<br>
  <input type="text" player2="player2"><br>
  <input type="submit" value="Submit!">
</form>
